<ul class="container-produtos">
  @for (item of produtos; track item.id) {
    
    <li class="card-produto">
      <img [src]="item.thumbnail" [alt]="item.title">

      <div class="info">
        <h2>{{ item.title }}</h2>
        <p class="preco">Preço: ${{ item.price }}</p>
        <p class="estoque">Estoque: {{ item.stock }} unidades</p>

        <app-button-color 
          [texto]="'Adicionar ao Carrinho'" 
          (clicou)="comprar(item)">
        </app-button-color>
      </div>
    </li>
  }
</ul>