.container-produtos {
  list-style: none; 
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px; 
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  font-size: 1.5rem;
  color: #555;
  font-weight: bold;
  white-space: pre-line;
}

.card-produto {
  background-color: white;
  border: 1px solid #ddd; // borda simples
  border-radius: 8px;     //arredonda
  padding: 15px;
  text-align: center;     
  box-shadow: 0 4px 6px rgba(0,0,0,0.1); // so pra ficar btn
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}

//imagem
.card-produto img {
  width: 100%;      
  height: 200px;    
  object-fit: contain; 
  margin-bottom: 15px;
}

.card-produto h2 {
  font-size: 1.2rem;
  margin: 10px 0;
  color: #333;
}

.preco {
  font-weight: bold;
  color: rgb(1, 156, 1);
  font-size: 1.1rem;
}