.btn-de-comprar {
  display: block;     
  background-color: #039ae5; 
  color: rgb(240, 235, 235);
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;          
  font-weight: bold;
  min-height: 40px;      
}