.btn-de-comprar {
  display: block;     
  background-color: #039ae5; 
  background-image: linear-gradient(#0381c0, #0381c0);
  background-repeat: no-repeat;
  background-position: center;
  color: rgb(240, 235, 235);
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;          
  font-weight: bolder;
  font-size: 15px;
  min-height: 40px;
  background-size: 0% 100%;   
  transition: background-size .5s ease-in-out;  
  &:hover{
    background-size: 100% 100%;
  } 
}