.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5%;
  background: #fff;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
  
}
.botao{
  cursor: pointer;
}
.Homerouter{
  cursor: pointer;
}