.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px;
  background-color: #131921;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  top: 0;
  z-index: 1000;
  border-radius: 6px;
  &:hover{
    position: sticky; // faz a nav-bar me acompanhar em quanto desço a tela
    // carabam que ideia genial ela descer junto so quando o cursor tiver nela kkkkkkk
  }
}
.botao {
  cursor: pointer;
  margin-right: 6px;
  background-color: #f7f1f1; 
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  font-weight: 600;
  font-family: sans-serif;
  transition: 0.3s;
  &:hover{
    background-color: #c5c0c0; 
    transform: translateY(-2px); //levanta um pouco os botão
  }
  
}
.Homerouter {
  cursor: pointer;
  color: rgb(227, 219, 219);
  margin-left: 6px;
  font-family:'Roboto', sans-serif; 
  font-weight: 700;
  letter-spacing: 0.4px;  //serve pra espaçar as letras
  border: none;
  &:hover{
    transform: translateY(-1px);
    color: rgb(255, 255, 255);
    text-shadow: 0 0px 4px  #ffffff;;
  }
}
