.item-carrinho {
  display: flex;
  align-items: center;
  gap: 20px;
  border-bottom: 1px solid #ddd;
  padding: 15px 0;
  
  img {
    border-radius: 8px;
    object-fit: cover;
  }

  .info {
    flex-grow: 1;
  }
}