<div class="carrinho-container">
  <h2>valor total: {{ValorTotal}}</h2>

  @if (itensNoCarrinho.length > 0) {
    <ul class="lista-carrinho">
      @for (item of itensNoCarrinho; track item.id) {
        <li class="item-carrinho">
          <img [src]="item.thumbnail" [alt]="item.title" width="80" />

          <div class="info">
            <h3>{{ item.title }}</h3>
            <p>Preço: R${{ item.price }}</p>
          </div>
          <app-button-color
          (clicou)="remover(item.id!)"
          [texto]="'remover'">
          </app-button-color>
        </li>
      }
    </ul>
  } @else {
    <p>carrinho ta vazio</p>
  }
</div>
